
<div class="font-['Inria_Serif']">
    <img 
    class ="w-full h-auto object-cover mt-20"
    src="/src/assets/Include/Picture/MainBanner.svg" 
    alt="Banner">

    <div class="absolute top-1/2 left-[80px] -translate-y-1/2 text-white max-w-[500px]">
        
        <p class="text-[#D4AF37] text-lg mb-2 relative inline-block">
            Pure Beans
            <span class="absolute left-0 mb-1 bg-[#D4AF37]"></span>
        </p>

        <h1 class="text-[42px] leading-tight font-medium mb-4">
            Kopi Indonesia,<br>
            Cita Rasa Nusantara
        </h1>

        <p class="text-base text-white/80 leading-relaxed">
            Biji kopi pilihan terbaik dari berbagai daerah di Indonesia,
            Dipilih dari berbagai daerah terbaik di Indonesia untuk menghadirkan cita rasa autentik di setiap cangkirnya
        </p>
        <a href="#products" class="mt-6 inline-block bg-[#D4AF37] text-black font-bold px-8 py-3 rounded-full hover:scale-105 transition-transform">Belanja Sekarang</a>
        </div>
    </div>

