<nav class="fixed top-0 left-0 w-full z-50 flex justify-between items-center bg-[#050505] px-[50px] h-[90px] border-b border-[#1a1a1a]">

    <a href="" class="block">
        <img src="/src/assets/Include/NavIcon/MainLogo.svg" 
        alt="Beanesia Logo" 
        class="h-15 object-contain">
    </a>

    <div class="flex items-center bg-white rounded-full px-5 w-[450px] h-[45px]">
        <iconify-icon
            icon="material-symbols:search-rounded"
            width="24"
            height="24"
            class="text-gray-500 mr-3">
        </iconify-icon>

        <input
            type="text"
            placeholder="Search"
            class="outline-none bg-transparent text-base w-full text-[#333] placeholder-[#999] font-medium">
    </div>

    <div class="flex items-center gap-[35px]">

        <ul class="flex gap-10">
            <li>
                <a href="/src/pages/Home.html#" 
                class="text-white pb-1 border-b-2 border-transparent hover:text-[#D4AF37] hover:border-[#D4AF37] transition-all duration-200">
                    Beranda
                </a>
            </li>

            <li>
                <a href="/src/pages/Home.html#products" 
                class="text-white pb-1 border-b-2 border-transparent hover:text-[#D4AF37] hover:border-[#D4AF37] transition-all duration-200">
                    Product
                </a>
            </li>

            <li>
                <a href="/src/pages/Home.html#Footer" 
                class="text-white pb-1 border-b-2 border-transparent hover:text-[#D4AF37] hover:border-[#D4AF37] transition-all duration-200">
                    Contact
                </a>
            </li>
        </ul>

        <div class="w-px h-[35px] bg-white/40"></div>

        <div class="flex items-center gap-[25px]">

            <a href="/src/pages/Keranjang.html" class="group">
                <iconify-icon
                    icon="mdi:cart-outline"
                    width="25"
                    height="25"
                    class="text-white transition duration-200 mt-2 group-hover:scale-110">
                </iconify-icon>
            </a>

<a href="/src/pages/Profile.html" class="flex items-center gap-3 text-white font-medium text-base group">
    <span>Pengguna</span>

    <iconify-icon 
        icon="mingcute:user-5-fill"
        class="flex items-center justify-center size-9 bg-white rounded-full text-black"
        width="26"
        height="26">
    </iconify-icon>
</a>

        </div>

    </div>

</nav>